.not_found_container {
    text-align: center;
    padding-top: 70px;
    color: #dddddd;
  
    .not_found_icon {
      font-size: 90px;
    }
  
    .not_found_desc {
      font-size: 60px;
    }
  }
  