.product_image_container {
  padding-right: 70px;
  
  .main_pic {
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .main_pic div {
    width: 100%;
    height: 446px;
    border: 1px solid #d9d9d9;
    background-size: contain !important;
    background-position: center center !important;
  }
  
  .main_thumbs {
    margin-top: 10px;

    .thumb {
      cursor: pointer;
      height: 200px;
      width: 50%;
      background-size: cover !important;
      background-position: bottom center !important;
      border: 1px solid #e8e8e8;
      box-sizing: border-box;
      float: left;
    }
  }
}
